@import "./dashboard";
$themeColor: #422afb;
.menu_div {
  @include main_div();
  // background-color: #f0f0fa;
  // height: 100vh;
}
.product_price {
  background-color: $themeColor;
  border-radius: 5px;
  padding: 5px;
}
.name_price {
  display: flex;
  justify-content: space-between;
}
.card {
  box-shadow: 2px 2px 19px 5px rgba(0, 0, 0, 0.29) !important;
  -webkit-box-shadow: 2px 2px 19px 5px rgba(0, 0, 0, 0.29) !important;
  -moz-box-shadow: 2px 2px 19px 5px rgba(0, 0, 0, 0.29) !important;
  transition: transform 4.5s ease;
  border-radius: 5px !important;
  margin-top: -25px;
  margin-bottom: 15px;
  &:hover {
    transform: scale(1.07);
    border-radius: 10px;
  }
}
